@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,600;1,600&display=swap&family=Style+Script&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease-in-out all;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  background: lightcyan !important;
}

.text-primary {
  color: #fecd08 !important;
}

.text-secondary {
  color: navy !important;
}

.text-white {
  color: #fff !important;
}

.bg-primary {
  background: #fecd08;
}

.font-weight-bolder {
  font-weight: bolder;
}

.p-2 {
  padding: 20px;
}

.p-4 {
  padding: 40px;
}

.w-100 {
  width: 100%;
}

.bg-secondary {
  background: navy;
}

.d-flex {
  display: flex !important;
}

.justify-content-between {
  justify-content: space-between;
}

img {
  transition: 0.1s linear all;
  overflow: hidden;
}
img:hover {
  transform: scale(1.1);
}

body {
  position: relative;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: navy;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader img {
  width: 200px;
}

header {
  width: 100%;
  max-width: 1920px;
  height: 100px;
  padding: 0 4%;
  background: rgb(0, 0, 128);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}
header .controller {
  display: none;
}
header .logo {
  width: 40%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}
header .logo img {
  width: 100px;
}
header .logo h4 {
  font-size: 36px;
  font-family: "Style Script", cursive;
  letter-spacing: 4px;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
header .logo h4::after {
  content: "";
  position: absolute;
  top: 85%;
  left: 0;
  width: 0;
  height: 2px;
  background: #e21818;
  transition: 0.3s linear all;
  margin-top: 5px;
}
header .logo h4:hover::after, header .logo h4:hover::before {
  width: 100%;
}
header ul.menu {
  width: 60%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  transition: 0.3s linear all;
  z-index: 10;
}
header ul.menu li {
  margin: 10px;
  padding: 10px 20px;
}
header ul.menu li:hover a span:nth-child(1) {
  width: 100%;
}
header ul.menu li:hover a span:nth-child(2) {
  height: 100%;
}
header ul.menu li:hover a span:nth-child(3) {
  width: 100%;
}
header ul.menu li:hover a span:nth-child(4) {
  height: 100%;
}
header ul.menu li a {
  text-decoration: none;
  color: #fff;
  position: relative;
  font-size: 18px;
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
  padding: 10px 30px;
}
header ul.menu li a span {
  background: #fecd08;
  position: absolute;
  transition: 0.5s ease-in-out all;
}
header ul.menu li a span:nth-child(1) {
  width: 0;
  height: 2px;
  top: 0;
  left: 0;
}
header ul.menu li a span:nth-child(2) {
  width: 2px;
  height: 0;
  right: 0;
  bottom: 0;
}
header ul.menu li a span:nth-child(3) {
  width: 0;
  height: 2px;
  bottom: 0;
  right: 0;
}
header ul.menu li a span:nth-child(4) {
  width: 2px;
  height: 0;
  left: 0;
  top: 0;
}

@media only screen and (min-width: 0px) and (max-width: 1020px) {
  header .logo {
    width: 100%;
  }
  header .logo img {
    width: 80px;
  }
  header .logo h4 {
    font-size: 24px;
  }
  header .controller {
    display: inline-block;
    font-size: 42px;
    color: #fff;
    cursor: pointer;
    position: relative;
    margin-right: 20px;
  }
  header .controller i {
    transition: 0.5s ease all;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  header .controller i.bi-x {
    font-size: 0px;
  }
  header .controller.active {
    animation: rotate 1s ease;
  }
  header .controller.active i.bi-list {
    font-size: 0px;
  }
  header .controller.active i.bi-x {
    font-size: 42px;
  }
  header ul.menu {
    display: flex;
    width: 100%;
    height: 0;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    top: 100px;
    right: 0;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    transition: 0.2s ease-in-out all;
    overflow: hidden;
  }
  header ul.menu li {
    margin-top: 30px;
  }
  header ul.menu li a {
    color: #fecd08;
    font-size: 24px;
    font-weight: bolder;
  }
  header ul.menu li a::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: navy;
    z-index: -1;
    transition: 0.3s ease-in-out all;
  }
  header ul.menu li a:hover::before {
    width: 100%;
  }
  header ul.menu.active {
    height: calc(100vh - 100px);
  }
}
main {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 70%, transparent), url(../images/2023-07-14.jpg);
  background-size: 100% auto;
  background-position: center;
  background-blend-mode: multiply;
}
main section {
  display: grid;
  place-items: center;
  margin-left: 250px;
  color: white;
}
main section .text-wrapper {
  font-size: 2rem;
}
main section .text-wrapper .text-primary {
  color: #fecd08;
}
main section .box {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
}
main section .box a {
  font-size: 1.5rem;
  padding: 20px 30px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s ease-in-out all;
  color: white;
}
main section .box a::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background: navy;
  position: absolute;
  top: 0;
  left: 0;
  transform: skew(45deg);
  margin-left: -50%;
  z-index: -1;
  transition: 0.5s ease-in-out all;
}
main section .box a:hover::before {
  transform: skew(0);
  margin-left: 0;
}
main section .box a:hover span:nth-child(1) {
  width: 100%;
}
main section .box a:hover span:nth-child(2) {
  height: 100%;
}
main section .box a:hover span:nth-child(3) {
  width: 100%;
}
main section .box a:hover span:nth-child(4) {
  height: 100%;
}
main section .box a span {
  background: #fecd08;
  position: absolute;
  transition: 0.5s ease-in-out all;
}
main section .box a span:nth-child(1) {
  width: 0;
  height: 2px;
  top: 0;
  left: 0;
}
main section .box a span:nth-child(2) {
  width: 2px;
  height: 0;
  right: 0;
  bottom: 0;
}
main section .box a span:nth-child(3) {
  width: 0;
  height: 2px;
  bottom: 0;
  right: 0;
}
main section .box a span:nth-child(4) {
  width: 2px;
  height: 0;
  left: 0;
  top: 0;
}
main aside {
  width: 20%;
  height: 100%;
}

@media only screen and (min-width: 0px) and (max-width: 860px) {
  main {
    background: none;
    height: 400px;
    margin-top: 100px;
  }
  main section {
    width: calc(100% - 20px);
    padding: 30px 10px;
    margin-left: 30px;
  }
  main section .text-wrapper {
    font-size: 1rem;
    color: #000;
  }
  main section .text-wrapper .text-primary {
    color: navy !important;
  }
  main section .box a {
    font-size: 1rem;
    padding: 10px 20px;
    color: #000;
  }
  main section .box a::before {
    background: #fecd08;
  }
  main section .box a span {
    background: navy;
  }
  main aside {
    display: none;
  }
}
#about {
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  padding: 120px 0 30px 0;
  background: lightcyan;
}
#about h2 {
  font-size: 3rem;
  position: relative;
  margin-bottom: 30px;
  font-family: "Playfair Display", serif;
  color: navy;
  font-weight: bolder;
}
#about h2::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  height: 2px;
  background: #fecd08;
}
#about h2:hover::after {
  width: 100%;
}
#about .container {
  padding: 0 60px;
}
#about .container h3 {
  text-align: center;
  font-size: 2rem;
  color: navy;
  position: relative;
  display: inline-block;
  margin: 20px auto;
}
#about .container h3::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  height: 2px;
  background: #fecd08;
}
#about .container h3:hover::after {
  width: 100%;
}
#about .container p {
  font-size: 24px;
  font-family: "Crimson Text", serif;
}
#about .container ul {
  margin-left: 40px;
  font-size: 1.2rem;
  list-style: none;
}
#about .container ul li::before {
  content: "\f5c2";
  font-family: "bootstrap-icons";
  margin-right: 10px;
}
#about .container ul li ul.skills {
  list-style: none;
}
#about .container ul li ul.skills li::before {
  content: "";
}
#about .container ul li ul.skills li .text {
  display: inline-block;
  width: 150px;
}
#about .container ul li ul.skills li .line {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 6px;
}
#about .container ul li ul.skills li .line::before, #about .container ul li ul.skills li .line::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  transform: translateY(-50%);
  background: rgb(255, 255, 255);
  margin-left: 10px;
  border-radius: 5px;
}
#about .container ul li ul.skills li .line.html::after {
  width: 90%;
  background: red;
}
#about .container ul li ul.skills li .line.css::after {
  width: 60%;
  background: red;
}
#about .container ul li ul.skills li .line.php::after {
  width: 70%;
  background: red;
}
#about .container ul li ul.skills li .line.js::after {
  width: 50%;
  background: red;
}
#about .container ul li ul.skills li .line.sql::after {
  width: 95%;
  background: red;
}
#about .container ul li ul.skills li .line.sass::after {
  width: 65%;
  background: red;
}
#about .container ul li ul.skills li .line.jq::after {
  width: 65%;
  background: red;
}
#about .container ul li ul.skills li .line.bt::after {
  width: 75%;
  background: red;
}
#about .container ul li ul.skills li .line.git::after {
  width: 75%;
  background: red;
}
#about .container ul li ul.skills li .line.c::after {
  width: 65%;
  background: red;
}

@media only screen and (min-width: 0px) and (max-width: 860px) {
  #about {
    height: auto;
  }
  #about .container {
    padding: 0 30px;
  }
  #about .container p {
    font-size: 18px;
  }
  #about .container ul {
    margin-left: 0;
  }
  #about .container ul li {
    font-weight: bolder;
  }
  #about .container ul li::before {
    margin-right: 10px;
  }
  #about .container ul li ul.skills li .text {
    font-size: 16px;
    width: 120px;
    font-weight: normal;
  }
  #about .container ul li ul.skills li .line {
    width: 150px;
  }
}
#projects {
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  padding: 120px 0 30px 0;
  background: lightcyan;
}
#projects h2 {
  font-size: 3rem;
  position: relative;
  font-family: "Playfair Display", serif;
  color: navy;
  font-weight: bolder;
}
#projects h2::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  height: 2px;
  background: #fecd08;
}
#projects h2:hover::after {
  width: 100%;
}
#projects #hero {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
}
#projects #hero img {
  width: 50%;
  margin: 20px;
}
#projects #hero .overview {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
#projects #hero .overview h1 {
  font-size: 4rem;
  color: navy;
  align-self: center;
  text-align: center;
  margin-top: 40px auto;
  font-family: "Crimson Text", serif;
  position: relative;
  margin-bottom: 40px;
}
#projects #hero .overview h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  border-radius: 20px;
  background: navy;
}
#projects #hero .overview h1::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fecd08;
  animation: lefttoright 3s ease-in-out infinite;
}
#projects #hero .overview h3 {
  font-size: 1.4rem;
  color: navy;
  text-decoration: underline;
  margin-bottom: 15px;
  font-weight: bolder;
}
#projects #hero .overview p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-left: 20px;
  font-family: "Crimson Text", serif;
}
#projects #screenshots {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 100px;
}
#projects #screenshots h2 {
  font-size: 2rem;
  color: navy;
  text-decoration: underline;
  margin-bottom: 15px;
  font-weight: bolder;
}
#projects #screenshots .swiper {
  width: 100%;
}
#projects #screenshots .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
}

@media only screen and (min-width: 0px) and (max-width: 911px) {
  #projects #hero {
    flex-direction: column;
  }
  #projects #hero img {
    width: 100%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 860px) {
  #projects {
    padding: 120px 0 30px 0;
  }
  #projects #hero {
    flex-direction: column;
    padding: 10px;
  }
  #projects #hero img {
    width: 100%;
  }
  #projects #hero .overview h1 {
    font-size: 2rem;
  }
  #projects #hero .overview h1::before {
    height: 4px;
    bottom: -4px;
  }
  #projects #hero .overview h1::after {
    width: 10px;
    height: 10px;
    bottom: -7px;
  }
  #projects #screenshots {
    padding: 20px;
  }
  #projects #screenshots h2 {
    font-size: 1.5rem;
  }
}
#contact {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  padding: 120px 0 80px 0;
  background: lightcyan;
}
@media only screen and (min-width: 0px) and (max-width: 860px) {
  #contact {
    flex-direction: column;
    height: auto;
  }
}
#contact .left-side {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  width: 50%;
}
@media only screen and (min-width: 0px) and (max-width: 860px) {
  #contact .left-side {
    width: 100%;
  }
}
#contact .left-side h2 {
  font-size: 3rem;
  position: relative;
  font-family: "Playfair Display", serif;
  color: navy;
  font-weight: bolder;
  margin-bottom: 10px;
}
#contact .left-side h2::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  height: 2px;
  background: #fecd08;
}
#contact .left-side h2:hover::after {
  width: 100%;
}
@media only screen and (min-width: 0px) and (max-width: 860px) {
  #contact .left-side h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
}
#contact .left-side p {
  font-size: 18px;
  font-weight: bold;
}
@media only screen and (min-width: 0px) and (max-width: 860px) {
  #contact .left-side p {
    margin: 0 10px;
    font-size: 16px;
  }
}
#contact .left-side .custom-form {
  margin-top: 20px;
}
#contact .left-side .custom-form .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact .left-side .custom-form .row .col-md {
  position: relative;
  padding: 0 !important;
  margin-bottom: 40px !important;
}
#contact .left-side .custom-form .row .col-md * {
  position: absolute;
}
#contact .left-side .custom-form .row .col-md label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  padding: 0 10px;
  z-index: 1;
  left: 0;
}
#contact .left-side .custom-form .row .col-md input,
#contact .left-side .custom-form .row .col-md select {
  background: transparent !important;
  outline: none;
  border: none !important;
  color: navy;
  font-family: "Crimson Text", serif;
  position: relative;
  margin: 0 !important;
  width: 100% !important;
  height: 30px;
  font-size: 18px;
  z-index: 1;
  padding-left: 10px;
}
#contact .left-side .custom-form .row .col-md input:valid + .form-label, #contact .left-side .custom-form .row .col-md input:focus + .form-label,
#contact .left-side .custom-form .row .col-md input .active + .form-label,
#contact .left-side .custom-form .row .col-md select:valid + .form-label,
#contact .left-side .custom-form .row .col-md select:focus + .form-label,
#contact .left-side .custom-form .row .col-md select .active + .form-label {
  top: -12px;
}
#contact .left-side .custom-form .row .col-md input:valid ~ div.line, #contact .left-side .custom-form .row .col-md input:focus ~ div.line,
#contact .left-side .custom-form .row .col-md input .active ~ div.line,
#contact .left-side .custom-form .row .col-md input .form-input.active ~ div.line,
#contact .left-side .custom-form .row .col-md select:valid ~ div.line,
#contact .left-side .custom-form .row .col-md select:focus ~ div.line,
#contact .left-side .custom-form .row .col-md select .active ~ div.line,
#contact .left-side .custom-form .row .col-md select .form-input.active ~ div.line {
  height: 100% !important;
  border-radius: 3px;
}
#contact .left-side .custom-form .row .col-md input[type=submit],
#contact .left-side .custom-form .row .col-md select[type=submit] {
  background: navy !important;
  color: #fecd08;
  height: auto;
  cursor: pointer;
  padding: 10px 0;
}
#contact .left-side .custom-form .row .col-md div.line {
  width: 100% !important;
  height: 2px !important;
  bottom: 0;
  left: 0;
}
#contact .left-side .social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact .left-side .social-media-icons a {
  display: inline-block;
  margin: 0 10px;
  background: navy;
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#contact .left-side .social-media-icons a i {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-46%, -46%);
  color: #fecd08;
}
#contact .left-side .social-media-icons a .tooltip {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
#contact .left-side .social-media-icons a:hover .tooltip {
  opacity: 1;
}
#contact .right-side {
  width: 50%;
  height: 100%;
  display: grid;
  place-items: center;
  gap: 20px;
  padding: 40px;
  background-image: linear-gradient(45deg, rgba(245, 70, 66, 0.75), rgba(8, 83, 156, 0.75)), url("../images/IMG20230925145708.jpg");
  background-size: 866.25px 518px;
  background-repeat: no-repeat;
  background-position: center;
}
@media only screen and (min-width: 0px) and (max-width: 860px) {
  #contact .right-side {
    width: 100%;
    background: none;
    padding: 20px;
  }
}
#contact .right-side .box {
  width: 80%;
  height: auto;
  padding: 40px 20px;
  color: #fff;
  font-family: "Crimson Text", serif;
  font-size: 1.3rem;
}
@media only screen and (min-width: 0px) and (max-width: 860px) {
  #contact .right-side .box {
    color: navy;
    width: 100%;
    padding: 40px 0;
  }
}
#contact .right-side .box ul {
  list-style: none;
}
#contact .right-side .box ul li {
  margin-left: 20px;
}
@media only screen and (min-width: 0px) and (max-width: 860px) {
  #contact .right-side .box ul li {
    margin-left: 0;
  }
}
#contact .right-side .box ul li i {
  margin-right: 10px;
}
#contact .right-side .box ul li a {
  color: #fff;
}
@media only screen and (min-width: 0px) and (max-width: 860px) {
  #contact .right-side .box ul li a {
    color: navy;
  }
}

@media only screen and (min-width: 0px) and (max-width: 911px) {
  #contact {
    flex-direction: column;
    height: auto;
    gap: 20px;
  }
  #contact .left-side {
    width: 100%;
  }
  #contact .right-side {
    width: 100%;
  }
}
footer {
  width: 100%;
  max-width: 1920px;
  position: relative;
  background: navy;
}
footer .first-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 0px) and (max-width: 860px) {
  footer .first-section {
    flex-direction: column;
    gap: 30px;
  }
}
footer .first-section .social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .first-section .social-media-icons a {
  display: inline-block;
  margin: 0 10px;
  background: navy;
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
footer .first-section .social-media-icons a i {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-46%, -46%);
  color: #fff;
}
footer .first-section .social-media-icons a .tooltip {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: navy;
  color: #fff;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
footer .first-section .social-media-icons a:hover .tooltip {
  opacity: 1;
}
footer .middle-section .container {
  width: 100%;
  height: auto;
  padding: 30px 20px;
}
footer .middle-section .container div.row {
  display: grid;
  grid-template-columns: 20% repeat(3, 1fr);
}
@media only screen and (min-width: 0px) and (max-width: 860px) {
  footer .middle-section .container div.row {
    grid-template-columns: 1fr;
  }
}
footer .middle-section .container div.row .col-md {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
}
footer .middle-section .container div.row .col-md h6 {
  font-size: 1.5rem;
  position: relative;
  font-family: "Playfair Display", serif;
  color: #fecd08;
  font-weight: bolder;
  margin-bottom: 10px;
}
footer .middle-section .container div.row .col-md h6::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  height: 2px;
  background: #fecd08;
}
footer .middle-section .container div.row .col-md h6:hover::after {
  width: 100%;
}
footer .middle-section .container div.row .col-md p {
  margin: 10px 0;
  font-size: 1.1rem;
  padding-left: 10px;
}
footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes lefttoright {
  0%, 100% {
    left: 0;
    border-radius: 50%;
    transform: rotate(360deg);
  }
  50% {
    left: calc(100% - 15px);
    border-radius: 0;
    transform: rotate(0deg);
  }
}
@keyframes animateBg {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}/*# sourceMappingURL=style.css.map */